@import url(root.css);
/* ______________ NAVIGATION ______________ */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:var(--white);
}

#nav{
    z-index: 100000;
    position:fixed;
    top:0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    background-color: var(--bg);
}

#logoDiv{
    background-image: url(/static/icon/LogoNoBg.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-color: var(--secbg);
}

#timeout {
    color:white;
}
.horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#logoutIcon{
    background-image: url(/static/icon/power.png);
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

#mySearch{
    background-color: var(--bg);
    font-family: Helvetica, sans-serif ;
    border: none;
    color: var(--white);
    padding: 5px 10px;
    border-radius: 10px;
}

#mySearch:focus{
    border: none;
    outline: none;
}
li, li > a{
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
 }
 .btn{
    transition-duration: .3s;
 }

.btn:hover{
    transition-duration: .3s;
    background-color: var(--bg);
    /* border: 1px solid black; */
}

.btn:active{
    transition-duration: .3s;
    background-color: var(--dark);
}

li > a{
    padding: 0px 10px;

}
