<!DOCTYPE html>
<html lang="pl-PL">

<head id="ctl00_Head1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/nav.css">
    <link rel="stylesheet" href="/static/style/manageUsers.css">
    <link rel="icon" type="image/x-icon" href="/static/icon/small.ico">

    <title>
        {% if role=='admin' %}
        Kapsel - Admin
        {% elif role == 'manager'%}
        Kapsel - Manager
        {% else %}
        Kapsel - Pracownik
        {% endif %}
    </title>

</head>

<body class="CacheDetailsPage">
    {% include 'navbar.html' %}


    <div class="content">
        {% for i in teams %}
        <div class="teamContainer">
            {% for j in managers %}
            {% if i[1] == j[1] %}
                <div class="teamNav">
                    <p>TEAM NAME: {{ i[0] }}</p>
                    <p>TEAM LEADER: {{ j[0] }}</p>

                    <a href="" id="changeTeamLeader"><button onclick="changeTeamName()">L</button></a>
                    <a href="" id="changeTeamName"><button onclick="changeTeamName()">N</button></a>
                    <a href="" id="addToTeam"><button onclick="changeTeamName()">A</button></a>

                    <a href="{{ url_for('deleteTeam', team_id=j[1]) }}" id="deleteTeam"><button>X</button></a>

                </div>
                {% endif %}
            {% endfor %}

            <div class="teamContent">
                {% for j in users %}
                    {% if i[1]==j[1] %}
                    <div class="teamUser">
                        <div class="teamUserNav">
                        <div class="teamUserIcon"></div>
                            <div class="teamUserP"><p class="teamUserP">{{j[0]}}</p></div>
                            </div>
                        <a href="{{ url_for('deleteUser', user_id=j[2]) }}" id="deleteUser"><button>DELETE</button></a>
                        <a href="" id="changeUserName"><button>CHANGE Name</button></a>
                        <a href="" id="changeUserTeam"><button>change Team</button></a>
                    </div>
                    {% endif %}


                {% endfor %}
            </div>
        </div>

        {% endfor %}

      <h1>  {{ users }}

    {{ teams }}</h1>
    </div>
    <div id ="dialogueWindow">
    <input type="text"></div>
    <script src="/static/javascript/logoutTimer.js"></script>
    <script>
        function changeTeamName(){
<!--             document.getElementById("dialogueWindow").style.display = "flex";-->
        }
        function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null};
      </script>

</body>

</html>

