<!DOCTYPE html>
<html lang="pl-PL">

<head id="ctl00_Head1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/nav.css">
    <link rel="stylesheet" href="/static/style/manageUsers.css">

    <link rel="icon" type="image/x-icon" href="/static/icon/small.ico">

    <title>
        {% if role=='admin' %}
        Kapsel - Admin
        {% elif role == 'manager'%}
        Kapsel - Managers
        {% else %}
        Kapsel - Pracownik
        {% endif %}
    </title>

</head>

<body class="CacheDetailsPage">
    {% include 'navbar.html' %}
    <div id="content">
<!--        onclick="addUser()"-->

        {% for i in teams %}
        <div class="teamContainer">
            {% for j in managers %}
            {% if i[1] == j[1] %}
                <div class="teamNav">
                    <button id="addUser" ><p class="plas">+</p></button>
                    <button id="deleteTeam" onclick="dump({{j[1]}})"><p class="plas">x</p></button>
                    <p>TEAM NAME: {{ i[0] }}</p>
                    <p>TEAM LEADER: {{ j[0] }}</p>

                </div>
                {% endif %}
            {% endfor %}

            <div class="teamContent">
                {% for j in users %}
                    {% if i[1]==j[1] %}
                    <div class="teamUser">
                        <div class="teamUserNav">
                        <div class="teamUserIcon"></div>
                            <div class="teamUserP"><p class="teamUserP">{{j[0]}}</p></div>
                            </div>

                        <p id="changeName" class="plas">CHANGE NAME</p>
                        <br>
                       <button id="deleteUser" ><a href="{{ url_for('deleteUser', user_id=j[2]) }}"><p class="plas">x</p></a></button>

                        <!--                        <a href="" id="changeUserTeam"><button>change Team</button></a>-->
                    </div>
                
                    {% endif %}


                {% endfor %}
            </div>
        </div>

        {% endfor %}
    </div>
    <div id ="dialogueWindow">
    <input type="text"></div>



    
      <script>
        function dump(teamID){
            // console.log(teamID)
            const confirmDelete = confirm("Are you sure you want to DELETE this team?\n\nDeleting this team will remove all associated members, settings, and data. This action cannot be undone.");
        
            if (confirmDelete) {
                deleteTeam(teamID);
            } 
            
        }
        /* deleteTeamBtn = document.getElementById("deleteTeam");
        deleteTeamBtn.addEventListener("click", function() {

            const teamName = this.getAttribute("data-team");
            const confirmDelete = confirm("Are you sure you want to DELETE this team?\n\nDeleting this team will remove all associated members, settings, and data. This action cannot be undone.");
        
            if (confirmDelete) {
                deleteTeam(teamName);
            } 
        }); */
        function deleteTeam(teamName){
            fetch('/deleteTeam', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ teamName: teamName })
            })
            .then(response => {
                if (response.ok) {
                    alert('Team ' + teamName + ' deleted successfully!');
                } else {
                    alert('An error occurred while deleting Team ' + teamName + '.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
      </script>
      <script src="/static/javascript/logoutTimer.js"></script>


</body>

</html>

