<div id="container">
    <!-- <div><p>HTML</p></div>
    <div><p>JS</p></div>
    <div><p>PHP</p></div>
    <div><p>PYTHON</p></div>
    <div><p>jQuery</p></div>
    <div><p>Bootstrap</p></div>
    <div><p>SQL</p></div>
    <div><p>----------</p></div> -->
    {% for i in courses %}
    <div class="courseContainer">
            {% for j in managers %}
            {% if i[2] == j[1] %}
                <p class="courseName">COURSE NAME: {{ i[1] }}</p>
            {% endif %}
        {% endfor %}

        <div class="courseContent">
            {% for n in courses_chapter %}
                <div class="course">
                    {% if i[0] == n[2] %}
                        <h2 class="m20">{{n[1]}}</h2>
                        {% for m in courses_subsection %}
                            {% if m[3] == n[0] %}
                                <h3>•{{m[1]}}</h3><p>{{m[2]}}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    </div>

    {% endfor %}
    <!-- <div><p>----------</p></div> -->
</div>